.confirm-info-container {
  width: 80%;
  border: 2px solid #f92a44;
  border-radius: 5%;
}

.confirm-info-container > * {
  margin: 10px 0;
  font-family: ;
}

.confirm-info-container > h1 {
  font-size: 30px;
}

.confirm-granny-img {
  border-radius: 6%;
  margin: 0;
  height: 300px;
}
