#dish-display-main {
  /* margin-top: 30px; */
  margin: 0 2%;
  /* margin-top: 2%; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: content-box;
  object-fit: cover;
}
#dish-container {
  border: solid 1px #ed3941;
  width: 38%;
  height: 250px;
  margin: 3%;
  padding: 10px;
  object-fit: cover;
  border-radius: 6px;
}

@media screen and (max-width: 1250px) {
  #dish-container {
    width: 50%;
  }
}
@media screen and (max-width: 1050px) {
  #dish-container {
    width: 60%;
  }
}
@media screen and (max-width: 800px) {
  #dish-container {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  #dish-container {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  #dish-container {
    width: 100%;
    margin: 0.5%;
  }
}
.dish-view {
  height: 90%;
  display: flex;
  justify-content: space-between;
}
.dish-left-side {
  text-align: left;
  width: 45%;
  margin: 5px;
}

@media screen and (max-width: 500px) {
  .dish-left-side {
    width: 60%;
  }
}
.dishInfo {
  grid-area: dishInfo;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  font-family: "Gentium Basic", serif;
  font-size: 18px;
}
#dish-header {
  align-items: center;
  height: 32px;
  padding-bottom: 5px;
  grid-area: dishheader;
  display: flex;
  justify-content: space-between;
  font-family: "Libre Baskerville", serif;
  border-bottom: 2px solid #ed3941;
}
#dish_name {
  font-weight: bold;
}
#dish-bottom-left {
  font-family: "Libre Baskerville", serif;
}
.dish-quantity {
  width: 50%;
}

@media screen and (max-width: 500px) {
  .dish-quantity {
    width: 100%;
  }
}

.remaining_quantity {
  font-family: "Libre Baskerville", serif;
}
.dish-right-side {
  height: 91%;
  width: 55%;
}
.dish-right-side img {
  padding: 6px 0;
  height: 90%;
  width: 90%;
  object-fit: cover;
}
.dish_img {
  width: 85%;
  height: auto;
  align-self: center;
  object-fit: cover;
  border-radius: 15px;
}
#dish-lables {
  font-family: "Cormorant Garamond", serif;
}
#orderBtn {
  width: 113px;
  height: 32px;
  background-color: #ed3941;
  display: inline-block;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  font-family: "Libre Baskerville", serif;
}
.dish-view p {
  padding-bottom: 10px;
}

.dish-label {
  color: grey;
  font-family: "Libre Baskerville", serif;
  font-size: 13px;
}
