#tag {
  font-weight: bold;
  color: red;
}

#dish-display-main {
  margin-top: 30px;
  border: 1px solid #909bf9;
  margin: 2%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: content-box;
  object-fit: cover;
}

#dish-container {
  border: solid 1px #ed3941;
  width: 35%;
  margin: 3%;
  padding: 10px;
  object-fit: cover;
  border-radius: 6px;
}

.dish-view {
  border: 1px solid darkgreen;
  margin: 2%;
  padding: 3px;
  display: grid;
  grid-template-columns: 5% 60% 35%;
  grid-template-rows: 10% 65% 25%;
  grid-template-areas:
    " leftside leftside rightside  "
    " leftside leftside rightside "
    " leftside leftside  . ";
  background-color: white;
}

.dish-left-side {
  border: 1px solid green;
  grid-area: leftside;
  margin: 1px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas:
    " dishheader dishheader   "
    " dishInfo dishInfo  "
    " dishbtn dishbtn   ";
}

.dishInfo {
  border: 1px dashed orange;
  grid-area: dishInfo;
  margin-top: 8px;
  padding: 5px;
}

#dish-header {
  padding: 2px;
  margin: 3px;
  border: 1px dashed yellow;
  grid-area: dishheader;
  display: flex;
  justify-content: space-around;
  font-family: "Libre Baskerville", serif;
}

#dish-name {
  font-weight: bold;
}
#dish-bottom-left {
  border: 1px dashed blue;
  grid-area: dishbtn;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

#dish-quantity {
}

.remaining_quantity {
}

.dish-right-side {
  grid-area: rightside;
  border: 1px solid pink;
  margin: 1px;
  object-fit: cover;
}

.dish_img {
  width: 85%;
  height: auto;
  align-self: center;
  object-fit: cover;
  border-radius: 15px;
}

#dish-lables {
}
