.mainpage {
  min-height: 100vh;
  background-color: #f4f4f6;
}

.top-mainpage {
  width: 90%;

  margin: auto;
  padding-top: 1%;
  padding-bottom: 2%;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 20%;
  background-color: whitesmoke;
  box-shadow: 3px 3px 4px gray;
  border: 1px solid #fb4b37;
}

.button-mainpage {
  display: flex;
  justify-content: flex-start;
}

.left-mainpage {
  margin-top: 1%;
  width: 30%;
  overflow-x: scroll;
  align-items: flex-start;
}

.right-mainpage {
  margin-top: 1%;
  width: 69%;
}

.filter-part1 {
  margin-left: 2%;
}
.icon {
  display: flex;
  justify-content: flex-start;
  margin-top: 1%;
}

.icon > img {
  height: 17px;
}

.filter-buttons {
  width: 98%;
  margin-top: 1%;
  margin-right: 2%;
  align-items: center;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.filter-buttons button {
  width: 68px;
  height: 34px;
  border-radius: 17px;
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
  font-size: 10px;
}

.highlighted > button {
  color: #fb4b37;
  border: 2px solid #fb4b37;
}

.filter-buttons button:hover {
  border: 2px solid #3b444f;
}
.filter-part2 {
  display: flex;
  align-items: flex-end;
}

.lunch-dinner {
  margin-top: 1%;
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

.lunch-dinner-form {
  margin-top: 4%;
  display: flex;
  width: 40%;
}

.order-type {
  margin-top: 1%;
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

.order-type-form {
  margin-top: 4%;
  display: flex;
  width: 40%;
}

.search-address {
  width: 35%;
  margin-left: 6%;
  margin-top: 3.9%;
}

.search-address input {
  width: 100%;
  height: 28px;
  font-size: 13px;
  border-radius: 6px;
  border-style: none;
}
.map-list {
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-top: 0px;
  border: 1px solid #fb4b37;
  box-shadow: 3px 3px 4px gray;
  /* border: 1px solid lightblue; */
  /* position: relative !important; */
}

#map {
  width: 100% !important;
  height: 100% !important;
}

.map-main {
  width: 100%;
  height: 650px;
}

/* ListView css */

.list-view-item {
  width: 94%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(whitesmoke, #e4efe9);
  margin-left: 2.5%;
  margin-right: 3.5%;
  margin-bottom: 2%;
  box-shadow: 3px 3px 4px gray;
  border: 1px solid #fb4b37;
}

.list-view-item:hover {
  width: 95%;
}

.list-view-item img {
  margin: 3%;
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: 50% 0;
  border-radius: 5px;
}

.grandma-list-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  margin-top: 6%;
  margin-bottom: 7%;
}

.grandma-list-info h3 {
  font-size: 18px;
  /* color: #5f646a; */
}
.grandma-list-info p {
  font-size: 16px;
  color: #5f646a;
}

.list-view-page {
  display: flex;
  justify-content: flex-start;
}

.list-view-container {
  width: 100%;
  height: 650px;
  overflow-y: scroll;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  height: 50px;
}

.info-in-window {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.info-in-window h3 {
  /* font-weight: bold; */
  font-family: futura;
  color: #5f646a;
}

#image {
  align-items: center;
  width: 60px;
  height: 60px;
  margin-top: 4%;
}
#image img {
  width: 40px;
  height: 40px;
  filter: grayscale(30%);
  object-fit: cover;
  object-position: 50% 0;
}
