.navbar-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 0px;
  text-decoration: none;
  border-bottom: 1px solid whitesmoke;
}

.navbar-parent a {
  text-decoration: none;
}

#Logout {
  margin-left: 60px;
  margin-right: 30px;
}

#logo {
  height: 40px;
  width: 50px;
}

.logo-div {
  margin-left: 10%;
}
#grandma-navbar {
  display: flex;
  width: 30%;
}

#grandma-navbar h1 {
  font-family: Futura;
  font-size: 15px;
  color: gray;
}
.middle-options {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.middle-options h1 {
  font-family: Futura;
  font-size: 15px;
  color: gray;
}

.auth-div {
  width: 20%;
  display: flex;
  justify-content: space-around;
}
