.back-to-grandma {
  z-index: 20;
  position: absolute;
  top: 75px;
  left: 25px;
  width: auto;
  height: 32px;
  color: red;
  background-color: white;
  border: none;
  border-radius: 3px;
}
#dish-image {
  display: flex;
  width: 100%;
  height: 40%;
  object-fit: cover;
}
#dish-image img {
  /* background-size: auto; */
  /* width: 100%; */
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.dish-info {
  /* align-items: flex-start; */
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-top: 1%;
  /* grid-template-rows: 50%; */
  /* grid-template-columns: 40% 60%; */
}
#dish-name {
  margin-top: 15px;
  padding: 3px;
  font-size: 30px;
  font-weight: bold;
  color: #ed3941;
  display: flex;
  align-content: flex-start;
  font-family: Futura;
  padding-left: 19px;
}
#order-header {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  font-family: Futura;
  align-items: baseline;
  object-fit: contain;
  padding-right: 15px;
}
.checkout-order-info {
  margin: 5px;
  font-weight: 500;
  flex-direction: row;
  justify-content: space-around;
}
#order-page-type {
  text-align: left;
  width: 50%;
}
#delivery-option {
  margin: 0 6%;
}
#order-type-btns {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.checkout-order-info {
  font-size: 20px;
  margin-top: 4%;
  margin-bottom: 4%;
  font-weight: 500;
  flex-direction: row;
  justify-content: space-around;
}
.checkout-order-info p {
  display: flex;
  margin-bottom: 2%;
}
.plus-minus-button {
  margin: 2% 0;
  display: flex;
  padding: 0 15px;
  font-size: 22px;
}
.fas {
  color: red;
  padding-left: 5px;
  padding-right: 5px;
}
#back-link-order {
  z-index: 2;
  margin: 2%;
}
.xyz {
  display: flex;
}
.back-to-grandma a {
  text-decoration: none;
  color: red;
  font-family: "Libre Baskerville", serif;
}
.grandma-link {
  display: flex;
}
#name-price-time {
  /* display: grid;
  grid-row: auto; */
  /* align-content: flex-start; */
  /* display: flex;
  direction: row; */
}
/* .dish-right-side {
  display: grid;
  grid-template-columns: 20% 25% 55%;
} */
#dish-desc {
  margin-top: 1%;
  font-family: "Libre Baskerville", serif;
  text-align: left;
  /* display: flex; */
  /* align-items: flex-start; */
}
#dish-desc p {
  margin: 1% 0;
  display: flex;
  margin-bottom: 10px;
  font-size: 16px;
  justify-content: flex-start;
  line-height: 22px;
}
#dish-desc h4 {
  margin: 2% 0;
  margin-top: 25px;
  display: flex;
  color: #ed3941;
  font-weight: bold;
  justify-content: flex-start;
}
.order-page-container {
  width: 100%;
}
.label-tags {
  margin-top: 5px;
  font-family: "Libre Baskerville", serif;
  font-size: 13px;
}
.order-font {
  font-family: "Libre Baskerville", serif;
  font-size: 19px;
  font-weight: normal;
}
.dish-checkout {
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
}
.dish-checkout p {
  font-size: 19px;
}
/* .dish-checkout a {
  margin: auto;
} */
#dish-checkout-button {
  width: 83%;
  height: 35px;
  border-radius: 4px;
  background-color: #ed3941;
  margin-top: 2%;
  margin-right: 20%;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-family: Futura;
}
#info-container {
  margin: 0 1%;
  padding: 1% 2%;
}
.order-type-btns {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  background-color: #ffffff;
  margin-top: 2%;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ed3941;
  border: 1px solid #ed3941;
  font-family: Futura;
  margin: 1%;
}
.order-type-btns-selected {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  background-color: #ed3941;
  margin-top: 2%;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-family: Futura;
  margin: 1%;
}
