.user-view-granny-page {
  display: flex;
  flex-direction: column;
}

.top-granny-profile {
  background: linear-gradient(rgb(52, 49, 49, 0.2), rgb(7, 7, 7, 0.75)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSi9SeZgZ_Q4peEuunjmnB2oNk6lxTusPyzXlaA6NEGibMQvLHJGw");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 380px;
}

.top-granny-profile img {
  width: 200px;
}
