.user-view-granny-page {
  display: flex;
  flex-direction: column;
}

.top-granny-profile {
  background: linear-gradient(rgb(52, 49, 49, 0.2), rgb(7, 7, 7, 0.75)),
    url("https://images.unsplash.com/photo-1551199870-171befeb59ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1009&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  display: flex;
  box-sizing: content-box;
  object-fit: cover;
}

.granny-profile-display {
  display: flex;
  padding-left: 20%;
  padding-top: 30px;
}

@media screen and (max-width: 800px) {
  .granny-profile-display {
    padding-left: 0.5%;
  }
}

/*
.granny-profile-display {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas:
    "back-btn . img"
    "back-btn . info"
    ". . info";
} */

.top-granny-profile img {
  grid-area: img;
  width: 220px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 0;
  margin: 2px;
}

.back-btn {
  margin: 2%;
  grid-area: back-btn;
}

.back-btn button {
  width: 193px;
  height: 32px;
  background-color: white;
  border: none;
  border-radius: 3px;
}

#main-info {
  width: 50%;
  max-height: 190px;
  grid-area: info;
  background-color: transparent;
  border-radius: 5px;
  color: black;
  padding: 15px;
  margin: 10px;
  font-family: "Cormorant Garamond", serif;
  margin: 0;
  margin-left: 3%;
}

#main-info p {
  font-size: 19px;
  font-weight: bold;
  color: white;
  padding: 3px;
  text-align: left;
  margin-top: 10px;
}
@media screen and (max-width: 580px) {
  #main-info {
    display: none;
  }
}

#back-link {
  text-decoration: none;
  color: #ed3941;
  font-size: 1rem;
  font-family: "Libre Baskerville", serif;
}

#dish-btns-container {
  display: flex;
  justify-content: center;
  align-self: center;
}

.filter-btn-selected {
  width: 183px;
  height: 42px;
  background-color: #ed3941;
  display: inline-block;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  font-family: "Libre Baskerville", serif;
  margin: 2%;
}

.filter-btn {
  width: 183px;
  height: 42px;
  background-color: white;
  display: inline-block;
  color: #ed3941;
  border: 1px solid #ed3941;
  border-radius: 3px;
  font-size: 1rem;
  font-family: "Libre Baskerville", serif;
  margin: 2%;
}

#granny_name {
  font-size: 25px;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  text-align: left;
  text-decoration: underline;
  text-decoration-color: #ed3941;
  color: white;
}

.fa-arrow-left {
  font-size: 40px;
  color: white;
  margin-left: 50px;
}

.tag {
  color: #6d1a1d;
  font-size: 17px;
}
